@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #1c1e21;
  background-color: #f0f2f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f2f5;
  overflow-y: scroll;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bcc0c4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* Selection Color */
::selection {
  background: #e1f5fe;
  color: #0288d1;
}